@import 'sitewide';

.title,
.subtitle,
.intro {
  text-align: center;
  max-width: 756px;
  margin: 36px auto;

  @media (max-width: $screen-sm) {
    margin: 22px auto;
  }
}

h1.title {
  @media (max-width: $screen-sm) {
    font-size: 36px;
  }
}

h2,
h3,
.nav-tabs {
  margin-top: 72px;
}

#maplegend {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;

  /* Match font choices in SVG */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 12px;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .maplegend-colors {
    display: grid;
    grid-template-areas:
      "d3 d2 d1 balanced r1 r2 r3 . nodata"
      "demtext demtext demtext reptext reptext reptext reptext nodatatext nodatatext";
    grid-template-columns: repeat(9, minmax(30px, 40px));
    grid-template-rows: 20px auto;
    max-width: 360px;
  
    .d3 {
      grid-area: d3;
      background-color: $biascolor-d3;
    }
  
    .d2 {
      grid-area: d2;
      background-color: $biascolor-d2;
    }
  
    .d1 {
      grid-area: d1;
      background-color: $biascolor-d1;
    }
  
    .balanced {
      grid-area: balanced;
      background-color: $biascolor-0;
    }
  
    .r1 {
      grid-area: r1;
      background-color: $biascolor-r1;
    }
  
    .r2 {
      grid-area: r2;
      background-color: $biascolor-r2;
    }
  
    .r3 {
      grid-area: r3;
      background-color: $biascolor-r3;
    }
  
    .nodata {
      grid-area: nodata;
      background-color: $biascolor-r3;
      background-color: white;
      border: 1px solid $gray-med;
    }
  
    .demtext {
      grid-area: demtext;
    }
  
    .reptext {
      grid-area: reptext;
      justify-self: end;
    }
  
    .nodatatext {
      grid-area: nodatatext;
      justify-self: end;
    }
  
    @media (max-width: $screen-xs) {
      max-width: 324px;
    }
  
    @media (max-width: $screen-xxs) {
      max-width: 280px;
    }
  }
  
  #ushouse-legend {
  
    span.swatch {  /* see also updateStateListingSwatches() which dynamically recolors these */
      display: inline-block;
      height: 18px;
      width: 18px;
      padding: 0;
      margin-right: 4px;
      border: 1px solid rgb(149, 152, 154);
      position: relative;
      top: 5px;
    }
    
    // Default display for narrow screens
    div.content
    {
      display: inline-block;
      line-height: 1.2em;

      .caption, .bias { display: inline }
    }

    // Block-style display for wide screens
    @media (min-width: 651px) {
      width: 240px;

      span.swatch { top: -5px }

      div.content {
        .caption, .bias { display: block }
      }
    }
  }

  // Reverse order of legend items on wide screens
  @media (min-width: 651px) {
    #ushouse-legend {
      order: -1;  // Move legend to the left
    }
    .maplegend-colors {
      order: 0;   // Keep colors on the right (default)
    }
  }
}

#map {
  height: 400px;
  width: 100%;
  overflow: visible; /* Allow tooltip to extend beyond SVG bounds */

  @media screen and (max-width: $screen-sm) {
    max-height: 66vw; /* phone screens, try not to have extra space at top+bottom */
  }

  path.highcharts-key-us-dc {
    display: none;  /* https://github.com/PlanScore/PlanScore/issues/78 adds small-states legend, this hides DC which we don't have */
  }

  #state-tooltip {
    pointer-events: none;

    .shape {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    }
    
    sup {
      // Safari doesn't handle the superscript correctly in this case
      position: static;
    }
    
  }
  
  #ushouse-text {
    display: none;
    max-width: 300px;
    flex-shrink: 1;
    
    p {
      line-height: 1.4em;
      font-size: 11px;
      background: rgba(255, 255, 255, 0.6);
      color: #999;
    }

    /*
    @media (max-width: 650px) {
      max-width: 100%;
      text-align: center;
    }
    */
  }
}

/* Special cases for when the U.S. House view is active */
body.ushouse-selected {
  // Two elements only visible in this view
  #maplegend #ushouse-legend, #map #ushouse-text {
    display: block !important;
  }
}


#yearpicker-small {
  position: relative;  /* readout is overlaid atop a 6/6 split, to maximize hit area on both halves */

  div.nextprev {
    cursor: pointer;
    z-index: 1;

    &.disabled {
      opacity: 0;
    }
  }

  div.right {
    padding-right: 0;
  }

  div.left {
    padding-left: 0;
  }

  i {  /* the prev and next buttons */
    font-size: 24px;
    cursor: pointer;
  }

  div.readout {  /* the year/plan readout */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute; top: 0; left: 0;
    width: 100%;
  }
}

#yearpicker-big {
    margin-top: 36px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: 35px 1fr 150px;
    grid-template-rows: 65px;

    #yearpicker-playbutton {
        font-size: 30px;
        line-height: 77px;
        cursor: pointer;
    }

    #yearpicker-timeline, #yearpicker-future {
      overflow: visible;

      line, path {
          stroke: black;
          stroke-width: 1;
          fill: none;
      }
      circle {
          fill: white;
          stroke: black;
          stroke-width: 2;
          transition: fill 0.1s ease-in-out;
      }
      text {
          font-family: "AvenirLTPro-Medium", sans-serif;
          font-size: 13px;
      }

      a {
          cursor: pointer;
          text-decoration: none;
      }
      a.unavailable
      {
          cursor: not-allowed;
          path, circle {
            stroke: #999;
          }
          text {
            fill: #999;
          }
      }
      a .hitarea {
          fill: rgba(0, 0, 0, 0);
      }
      a.active circle {
          fill: black;
      }
      a:hover circle {
          fill: #006C90;
      }
    }

    #yearpicker-timeline {
      g line {
          stroke-width: 2;
      }
      text {
          text-anchor: middle;
      }
      text.above {
          fill: white;
      }
      text.below {
          font-size: 16px;
      }
    }

    #yearpicker-future {
      a.active {
        cursor: inherit;
      }
      a.active text {
        fill: white;
      }
      a {
        .background, #yearpicker-predict-voteswing {
          visibility: hidden;
        }
      }
      a.active {
        .background, #yearpicker-predict-voteswing {
          visibility: visible;
        }
      }
      #yearpicker-predict-voteswing {
        text {
          font-size: 10px;
        }
        #yearpicker-predict-slider {
          fill: white;
          cursor: pointer;
        }
        #yearpicker-predict-thumb {
          cursor: pointer;
          circle {
            fill: black;
            stroke: none;
          }
          text {
            text-anchor: middle;
          }
        }
      }
    }
}

#map-footnotes {
  font-size: 14px;
  line-height: 1.4em;
}

.states-listing {
  div {  /* any of the "columns" */
    white-space: nowrap;
    @media (max-width: $screen-xs){
      padding-left: 6px;
    }
  }

  a {  /* any of the "rows" */
    color: $navy;
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 3px 3px 0px 5px;

    @media (max-width: $screen-xxs){
      font-size: 15px;
      padding: 0;
    }
  }

  a:hover {
    background-color: $gray-light;
  }

  span.swatch {  /* see also updateStateListingSwatches() which dynamically recolors these */
    display: inline-block;
    height: 14px;
    width: 14px;
  }

  a.suppress-link {
    cursor: not-allowed;
    pointer-events: none;
    color: #ccc;

    span.swatch { opacity: 20% }
  }
}

// is this working? Haven't seen it yet.
#stateinfo-popup {
  display: none; /* hidden by default; see selectState() */

  z-index: 1;

  position: absolute;
  top: 200px;
  left: 50%;

  width: 400px;
  max-width: 400px;
  margin-left: -200px;
  @media (max-width: 450px) {
      width: 90%;
      margin-left: 0;
      left: 5%;
  }

  @media (min-width: 1001px) {
      top: 190px;
  }
  @media (max-width: 1000px) {
      top: 225px;
  }
  @media (max-width: 767px) {
      top: 220px;
  }
  @media (max-width: 500px) {
      top: 255px;
  }
  @media (max-width: 350px) {
      top: 300px;
  }

  background-color: yellow;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #95989A;
  border-radius: 0px;
  outline: 0;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
  box-shadow: 0 3px 9px rgba(0,0,0,.2);

  a.learnmore {
    text-decoration: underline;
  }
}
