@import 'sitewide';

.title,
.subtitle,
.intro {
  text-align: center;
  max-width: 756px;
  margin: 36px auto;

  @media (max-width: $screen-sm) {
    margin: 22px auto;
  }
}

h1.title {
  @media (max-width: $screen-sm) {
    font-size: 36px;
  }
}

h2,
h3,
.nav-tabs {
  margin-top: 72px;
}

#maplegend {
  display: grid;
  font-size: 12px;
  grid-template-areas:
    "d3 d2 d1 balanced r1 r2 r3 . nodata . nationaleg-text"
    "demtext demtext demtext reptext reptext reptext reptext nodatatext nodatatext . nationaleg-text";
  grid-template-columns: repeat(10, minmax(30px, 40px)) 300px;
  grid-template-rows: 20px auto;
  margin: auto;
  max-width: 660px;

  .d3 {
    grid-area: d3;
    background-color: $biascolor-d3;
  }

  .d2 {
    grid-area: d2;
    background-color: $biascolor-d2;
  }

  .d1 {
    grid-area: d1;
    background-color: $biascolor-d1;
  }

  .balanced {
    grid-area: balanced;
    background-color: $biascolor-0;
  }

  .r1 {
    grid-area: r1;
    background-color: $biascolor-r1;
  }

  .r2 {
    grid-area: r2;
    background-color: $biascolor-r2;
  }

  .r3 {
    grid-area: r3;
    background-color: $biascolor-r3;
  }

  .nodata {
    grid-area: nodata;
    background-color: $biascolor-r3;
    background-color: white;
    border: 1px solid $gray-med;
  }

  .demtext {
    grid-area: demtext;
  }

  .reptext {
    grid-area: reptext;
    justify-self: end;
  }

  .nodatatext {
    grid-area: nodatatext;
    justify-self: end;
  }

  @media (max-width: $screen-xs) {
    max-width: 324px;
  }

  @media (max-width: $screen-xxs) {
    max-width: 280px;
  }
  
  #nationaleg-text {
    grid-area: nationaleg-text;
    line-height: 1rem;
  }
}

#map {
  height: 400px;
  width: 100%;

  @media screen and (max-width: $screen-sm) {
    max-height: 66vw; /* phone screens, try not to have extra space at top+bottom */
  }

  path.highcharts-key-us-dc {
    display: none;  /* https://github.com/PlanScore/PlanScore/issues/78 adds small-states legend, this hides DC which we don't have */
  }
}

#yearpicker-big-wrapper {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 36px;
  margin-top: 36px;

  #yearpicker-big-playbutton {
    padding-right: 0; /* in a row, but here we want the left and right sides as close as feasible */
    line-height: 67px;
    width: 50px;  /* we want responsive row, but to force width; see also #yearpicker-big width */
    top: 7px;

    a {
      font-size: 30px;
      text-decoration: none;
      color: $navy;
    }
  }

  #yearpicker-big {
    position: relative;
    height: 35px;
    top: 3px;
    z-index: 1;
    padding-left: 0; /* in a row, but here we want the left and right sides as close as feasible */
    width: calc(100% - 50px);  /* we want responsive row, but to force width; see also #yearpicker-big-playbutton width */

    div {  /* structure is a series of rectangular DIVs, each one containing a A for the visible circle */
      cursor: pointer;
      display: inline;
      float:left;
      position: relative; /* so we can absolutely position the .currentyearline */
      top: 1px;
      text-align: center;

      a {
        background-color: white;
        border: 2px solid $navy;
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        vertical-align: middle;
        width: 10px;

        &:hover {
          background-color: $blue-clc;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) { /* Chrome and Safari only: the year-beads are off-vertical by 1px */
          margin-top: 1px;
        }
      }

      span.yearlabel {  /* year labels */
        display: block;
        color: $navy;
        font-size: 16px;
        margin-top: 2px;
      }

      span.currentyear {
        display: inline-block;
        width: 34px;
        font-size: 13px;
        height: 17px;  /* contrived to fit font size */
        background-color: $navy;
        color: white;
        border-radius: 3px;
        text-align: center;
        opacity: 0;  /* see div.active subclass below */
      }

      span.currentyearline {
        background-color: $navy;
        display: inline-block;
        height: 20px;
        width: 2px;
        position: absolute;
        left: 50%;
        top: 10px;
        margin-left: -1px; /* half of width */
        z-index: -1;
        opacity: 0;  /* see div.active subclass below */
      }
    }

    div.decplan a { /* larger dots for decennial plans */
      width: 20px;
      height: 20px;
    }

    div.active {  /* the currently-selected year */
      a {
        background-color: $navy;
      }
      span.currentyear, span.currentyearline {
        opacity: 1; /* show/hide for visibility, breaks spacing since we expect these labels to occupy space even when not visible */
      }
    }

    &:after {
      content: "";
      border-top: solid 1px $navy;
      display: block;
      height: 1px;
      position: relative;
      top: 31px;
      width: 100%;
      z-index:-1;
    }
  }
}

#yearpicker-small {
  position: relative;  /* readout is overlaid atop a 6/6 split, to maximize hit area on both halves */

  div.nextprev {
    cursor: pointer;
    z-index: 1;

    &.disabled {
      opacity: 0;
    }
  }

  div.right {
    padding-right: 0;
  }

  div.left {
    padding-left: 0;
  }

  i {  /* the prev and next buttons */
    font-size: 24px;
    cursor: pointer;
  }

  div.readout {  /* the year/plan readout */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute; top: 0; left: 0;
    width: 100%;
  }
}

.states-listing {
  div {  /* any of the "columns" */
    white-space: nowrap;
    @media (max-width: $screen-xs){
      padding-left: 6px;
    }
  }

  a {  /* any of the "rows" */
    color: $navy;
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 3px 3px 0px 5px;

    @media (max-width: $screen-xxs){
      font-size: 15px;
      padding: 0;
    }
  }

  a:hover {
    background-color: $gray-light;
  }

  span.swatch {  /* see also updateStateListingSwatches() which dynamically recolors these */
    display: inline-block;
    height: 14px;
    width: 14px;
  }
}

// is this working? Haven't seen it yet.
#stateinfo-popup {
  display: none; /* hidden by default; see selectState() */

  z-index: 1;

  position: absolute;
  top: 200px;
  left: 50%;

  width: 400px;
  max-width: 400px;
  margin-left: -200px;
  @media (max-width: 450px) {
      width: 90%;
      margin-left: 0;
      left: 5%;
  }

  @media (min-width: 1001px) {
      top: 190px;
  }
  @media (max-width: 1000px) {
      top: 225px;
  }
  @media (max-width: 767px) {
      top: 220px;
  }
  @media (max-width: 500px) {
      top: 255px;
  }
  @media (max-width: 350px) {
      top: 300px;
  }

  background-color: yellow;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #95989A;
  border-radius: 0px;
  outline: 0;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
  box-shadow: 0 3px 9px rgba(0,0,0,.2);

  a.learnmore {
    text-decoration: underline;
  }
}
