@import 'sitewide';
@import '_common/styles/cards';
/* @import '_common/styles/seatshare'; */
/* @import '_common/styles/wastedvotes'; */

/* use SASS here */

.states {
	display: grid;

	column-gap: 72px;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(17, 1fr );
	list-style-type: none;

	li {
		padding: 20px 8px;
		border-bottom: 1px solid $gray-lighter;
	  transition: 0.25s ease;

		&:hover{
			background-color: $gray-light;
			cursor: pointer;
		}
		a {
			color: $blue-clc;
		}
	}
}

#mobile-states {
  position: relative;

  .chevron {
    color: white;
    position: absolute;
    top: 16px;
    right: 32px;
  }

  #state-text {
  	background-color: $blue-clc;
  	color: white;
  	display: block;
  	width: 100%;
  	border: none;
  	border-radius: 4px;
  	padding: 12px;

  	&::placeholder {
  		color: white;
  	}

    &::-webkit-calendar-picker-indicator,
    &::-webkit-list-button {
      visibility: hidden;
    }
  }
}
