@import 'sitewide';
@import '_common/styles/cards';
/* @import '_common/styles/seatshare'; */
/* @import '_common/styles/wastedvotes'; */

/* use SASS here */

#map {
  height: 400px;
  width: 100%;

  @media screen and (max-width: $screen-sm) {
    max-height: 66vw; /* phone screens, try not to have extra space at top+bottom */
  }

  path.highcharts-key-us-dc {
    display: none;  /* https://github.com/PlanScore/PlanScore/issues/78 adds small-states legend, this hides DC which we don't have */
  }
}

.states {
	display: grid;

	column-gap: 72px;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(17, 1fr );
	list-style-type: none;

  padding-inline-start: 0;

	li {
		border-bottom: 1px solid $gray-lighter;

		a {
      display: block;
      padding: 20px 8px;

			color: $blue-clc;
      transition: 0.25s ease;

      &:hover,
      &:focus {
        background-color: $gray-light;
        cursor: pointer;
      }
		}
	}

  @media (max-width: $screen-sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(26, 1fr );
    column-gap: 4%;
  }
}
