/*
 * BOUNDARY PICKER
 * the selector for statehouse/ushouse/senate
 */

#boundarypicker {
  background-color: $gray-light;
  border: 1px solid $gray-med;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  grid-template-columns: auto auto auto;
  margin: auto;
  max-width: 488px;

  div[data-boundary] {
    cursor: pointer;
    flex-grow: 1;
    border-right: 1px solid $gray-med;
    border-left: 1px solid $gray-med;
    border-collapse: collapse;
    padding-bottom: 9px;
    padding-top: 9px;
    transition: 0.25s ease;

    a {
      text-decoration: none;
      color: $navy;
      transition: 0.25s ease;
    }

    &.active {
      background-color: white;
      cursor: default;

      a {
        font-family: "AvenirLTPro-Heavy", sans-serif;
      }
    }

    &:hover:not(.active) {
      background-color: $gray-dark;

      a {
        color: white;
      }
    }

    &:first-child{
      border-left: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child{
      border-right: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
