/*
 * BOUNDARY PICKER
 * the selector for statehouse/ushouse/senate
 */
#boundarypicker {
  border: 1px solid $gray-med;
  border-radius: 5px;
  display: grid;
  font-size: 16px;
  grid-template-columns: auto auto auto;
  margin: auto;
  max-width: 488px;

    @media screen and (max-width: 480px) {
        > div {
            word-spacing: 10em;
        }
    }

    div[data-boundary] {
        cursor: pointer;
        background-color: $gray-light;
        border-right: 1px solid $gray-med;
        border-left: 1px solid $gray-med;
        border-collapse: collapse;
        padding-bottom: 9px;
        padding-top: 9px;
        width: 100%;
        a {
          text-decoration: none;
          color: $black;
        }
      &.active {
          background-color: transparent;
          color: $black;
          a {
              font-family: "AvenirLTPro-Heavy", sans-serif;
              color: $black;
          }
        }
      &:first-child{
        border-left: none;
      }
      &:last-child{
        border-right: none;
      }
    }

    div[data-boundary="ushouse"] {
    }
    div[data-boundary="statesenate"] {
    }
    div[data-boundary="statehouse"] {
    }
    &:before{
      content: none;
    }
}
