/*
* CARDS
* For creating knowledge-packed tiles to summarize navigables
*/

.card-deck {
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .card {
    display: flex;
    justify-content: space-between;
    padding: 34px;
    border-bottom: 1px solid $gray-light;

    .state {
      margin-right: 68px;
      width: 15%;

      h3 {
        font-size: 18px;
      }

      .enacted {
        display: inline-block;
        padding: 4px 6px 0;
        border: 2px solid $red-clc;
        border-radius: 4px;

        font-family: $medium;
        font-size: 14px;
        line-height: 23px;
      }
    }

    .summary {
      flex-basis: 50%;
      font-size: 14px;
      line-height: 28px;

      a {
        display: block;
        margin-bottom: 18px;
        font-size:18px;
      }

      .byline {
        font-family: $heavy;
      }
    }

    .status {
      position: relative;
      margin-left: 28px;
      color: $gray-dark;
      font-size: 14px;

      time {
        display: block;
        font-family: $heavy;
      }

      &:before {
        content: url('/images/check-box.svg');
        position: absolute;
        left: -22px;
        top: 3px;
      }
    }

    &:nth-child(odd) {
      background-color: $gray-lighter;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;

      .state {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .enacted {
          display: inline;
          margin: auto 0;
        }
      }

      .byline,
      .summary > div {
        margin-bottom: 24px;
        line-height: 23px;
      }

      .status time {
        display: inline;
      }
    }
  }
}
