/*
* GLOBAL GENERAL STYLES
*/

html, body {
  font-family: $medium;
  font-size: 18px;
  line-height: 30px;
  color: $navy;
}

html {
  background-color: $gray-light;
  @media (max-width: $screen-sm){
    background-color: $gray-lighter;
  }
}


h1, h2, h3 {
  font-family: $heavy;
}

h1 {
  font-size: 54px;
  line-height: 70px;
  color: $navy;

  @media (max-width: $screen-sm) {
    font-size: 42px;
    line-height: 50px;
  }
}

h2 {
  font-size: 36px;
  line-height: 40px;
  color: $navy;

  @media (max-width: $screen-sm) {
    font-size: 24px;
    line-height: 30px;
  }
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 28px;
  line-height: 36px;
  color: $navy;
}

h4, h5 {
  font-family: $heavy;
}

h4 {
  font-size:22px;
  line-height: 36px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

hr {
  background: linear-gradient(90deg, $blue-clc 3%, $gray-light 50%, $red-bright 97%);
  border-top: none; // bootstrap override
  height: 3px;

  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 36px;

  @media (max-width: $screen-sm) {
    margin-bottom: 22px;
  }
}

a {
  color: $navy;
  transition: 0.25s ease;

  &:hover {
    color: $blue-clc;
  }
}

select {
  padding: 5px;
  color: $gray-med;
  border-color: $gray-med;
  border-radius: 2px;
}

label {
  font-weight:normal;
}

label input[type="checkbox"] {
  vertical-align:text-top;
}

td {
  font-size: 14px;
  color: $gray-dark;
}

th {
  font-size: 14px;
  color: $navy;
}

td:nth-child(1){
  font-weight: 700;
}

.mobile-only,
nav .mobile-only,
input[type=text].mobile-only {

  @media (min-width: $screen-sm) {
    display: none;
  }
}

.desktop-only,
.states.desktop-only {

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.navbar-default {
  background-image: none;
  background-color: white;

  box-shadow: none;
  border-bottom: 0 none transparent;
  min-height: 80px;

  #brand-logo {
    height: 52px;
    width: auto;
  }

  .navbar-collapse,
  .navbar-form,
  .navbar-toggle {
    border: none;
  }

  .navbar-toggle {
    height: 56px;
    width: 56px;

    .icon-bar {
      height: 3px;
      width: 36px;
      transition: all 0.1s;
    }

    li {
      width: 25%;
    }

    &:not(.collapsed) {
      z-index: 10;
      position: fixed;
      top: 0;
      right: 15px;
      background-color: transparent;

      .icon-bar {
        background-color: white;
        transition: all 0.1s;
      }

      .icon-bar:nth-child(2){
        transform: rotate(45deg) translateY(5px);
      }

      .icon-bar:nth-child(3) {
        background-color: transparent;
      }

      .icon-bar:nth-child(4){
        transform: rotate(-45deg) translate(5px, -10px);
      }
    }
  }

  .navbar-nav > li > a {
    color: $navy;
    padding-bottom: 4px;
    text-shadow: none;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $navy;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s;
    }
  }

  #navbar.in,
  #navbar.collapsing {
    background-color: $blue-clc;
    transition: all 0.1s ease-in-out 0s;
    padding: 52px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    overflow: hidden;

    a {
      color: white;
      font-size: 28px;
      line-height: 36px;
      margin: 10px;
      padding: 10px 32px;
      transition: 0.25s ease;

      &:hover,
      &:focus {
        background-color: $navy;
      }
    }
  }

  .navbar-nav > li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  @media (max-width: $screen-sm){
    .container {
      .navbar-header,
      .navbar-collapse {
        margin: 0;
      }
    }
  }
}

.container {
  max-width: $screen-md;
}

div.footer {
  background-color: $gray-lighter;
  text-align: center;
  padding: 36px 0 0;

  img {
    max-width: 120px !important; /* bootstrap v3 print styles neccessitate the !important */
    margin-bottom: 24px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 62px 24px;

    svg {
      height: auto;
      width: 32px;
      margin: 0 20px 24px;
      fill: $navy;
      transition: 0.25s ease;

      &:hover {
        fill: $blue-clc;
      }

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    .legal {
      font-size: 14px;
      flex-basis: 100%;
      flex-grow: 1;
      width: 100%;

      @media (min-width: $screen-sm) {
        flex-grow: 0;
        order: -1;
        text-align: left;
      }
    }

    @media (min-width: $screen-sm) {
      background-color: $gray-light;
      flex-wrap: nowrap;
    }
  }
}

.container-mainbody {
  padding-bottom: 50px;

  p, h3, li {
    a {
      text-decoration: underline;
    }
  }

  #map {
    a {
      text-decoration: none !important;
    }
  }
}

.btn {
  color: $navy;
  background-color: $gray-light;
  margin: 16px 14px 16px 0;
  padding: 12px 20px;
  transition: 0.25s ease;

  // bootstrap overrides
  background-image: none  !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $gray-dark;
  }

  &:active {
    cursor: default;
  }
}

.btn-primary {
  color: white;
  background-color: $navy;
  transition: 0.25s ease;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $blue-clc;
  }
}

.btn-red {
  color: white;
  background-color: $red-clc;
  transition: 0.25s ease;

  &:hover,
  &:focus,
  &:active {
    background-color:$gray-dark;
  }

}

.gray {
  background-color: $gray-light;
  color: $navy;
  padding: 10px;
  margin-top: 30px;

  p {
    margin-bottom: 2px;
  }
}

div.tab-content,
div.metric-block {

  p {
    font-size: 16px;
  }

  div.metricdrsum {
    display: inline-block;
    padding: 5px 15px;
    color: white;
    margin-right: 1em;
    &.balanced{
      color: $navy;
    }
  }

  div.metricdrblurb {
    padding-top: 0.5em;
  }

  h2 {
    margin-top: 0;
  }

}

div.left-photo {
  @media (max-width: $screen-sm){
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 300px;
    margin-top: 25px;
  }
}

div.right-text {
  margin: 25px 0px;
  clear: both;
}


/* revert many of bootstrap v3 print styles. https://github.com/PlanScore/FrontPage/issues/4
   TODO: upgrade to bootstrap 4+, which doesnt have these. */
@media print {
  a[href]:after {
      content: none;
  }
  .navbar {
    display: block;
  }
}
