/*
 * TABBED CONTENT
 * Usually to capture multiple pieces of information in a single area.
 * For example, "Efficiency Gap" "Partisan Bias" and "Mean-Median" tabs.
 */

 ul.nav.nav-tabs {
   border: none;
   display: flex;
   font-size: 16px;
   justify-content: stretch;
   padding-top: 15px;
   text-align: left;

   li {
     background-color: $gray-light;
     border: 1px solid $gray-med;
     border-collapse: collapse;
     border-radius: 0;
     flex-grow: 1;
     float: none;
     margin: 0;
     padding-top: 8px;

     a {
       border: none !important; //bootstrap override
       color: $black;
       margin-right: 0;
       text-decoration: none;

       &:hover{
         background-color: transparent;
       }
     }

     &:hover:not(.active),
     &:focus {
       background-color: $gray-dark;

       a {
         color: white;
       }
     }

     &.active {
       background-color:white;
       border-bottom-color: transparent;

       &:after {
         content: "";
         background-color: $black;
         position: absolute;
         left: -1px;
         top: 0;
         height: 8px;
         width: calc(100% + 2px);
       }
     }

     &:first-child,
     &:first-child:after {
       border-top-left-radius: 5px;
     }

     &:last-child,
     &:last-child:after {
       border-top-right-radius: 5px;
     }
   }

   @media screen and (max-width: $screen-xs) {
     a {
       font-size: 16px;
     }

     li a {
       padding: 5px;
     }
   }

   @media screen and (max-width: $screen-xxs) {
     li a {
       word-spacing: 10em;
     }
   }
 }

 .tab-content {
   .tab-pane {
     padding: 1em 1em 1em 1em;
     border: 1px solid $gray-med;
     border-top-color: transparent;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;

     p {
       font-size: 16px;
       color: #121212;
     }
   }
 }
